<div class="box" *ngIf="listOfUsersWithHighestDistances && !loadingList">
  <div class="box-header">
    <h3 class="box-title">Lista użytkowników z największym dystansem między miejscem zamieszkania obserwowanego użytkownika</h3>
  </div>
  <div class="box-body">
    <div class="box">
      <div class="box-body no-padding">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Login</th>
              <th>Miejsce zamieszkania</th>
              <th>Dystans</th>
            </tr>
            <ng-container *ngFor="let user of listOfUsersWithHighestDistances">
            <tr *ngIf="user.distanceToFollowingUser">
              <td>{{ user.login }}</td>
              <td>{{ user.location }}</td>
              <td>{{ user.distanceToFollowingUser }}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="center-loader" *ngIf="loadingList">
  <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
</div>