.none {
  display: none !important;
}

.content {
 min-height: 100vh !important;
}

.panel-title {
	font-weight: bold;
	color: color(primary);
}

.center-loader {
	text-align: center;
	i {
		font-size: 2em;
	}
}